## 자료형
- int       : 100
- float     : 3.14
- bool      : True, False
- str       : Smith 
- NoneType  : None

In [ ]:
a = 100
type(a)  # int

In [ ]:
pi = 3.14
type(pi)  # float

In [ ]:
go = True
type(go)  # bool

In [ ]:
name = 'Smith'
type(name)  # str

In [ ]:
name = None
type(name)  # NoneType

## 참조비교, 내용비교
- is : 참조비교
- == : 내용비교

In [ ]:
list1 = [1,2,3,4,5]
list2 =  [1,2,3,4,5]

In [ ]:
id(list1)   # 2840096967808
id(list2)   # 2840096964864

In [ ]:
list1 is list2   # False (참조비교)
list1 == list2   # True (내용비교)

## 3항 연산자
- Ternary Operator
- [on_true] if [expression] else [on_false]  
=> []만 개발 코드 (Application Code 또는 Custom Code),
if와 else는 시스템 코드 (System Code 또는 Framework/Library Code)

In [ ]:
age = 23
'y' if age>20 else 'n'  # 'y'

### lamda expression
- 익명함수
- 문법 
add = lambda a,b : a+b
add(3,5)
- add와 같은 이름은 호출 필요시에만 줄 수도 있음(좌측의 참조주소를 받음)

In [ ]:
add = lambda a,b : a+b   # 이해를 돕기 위해 이름을 만든 것
add(3,5)   # 8

In [ ]:
def proxy_func(fun, a,b):   #  proxy_func 는 임의로 지은 이름. 보통 람다는 이렇게 사용됨 
    return fun(a,b)

In [ ]:
 proxy_func(add, 4,6)   # 10   # 보통 람다는 이렇게 사용됨

In [ ]:
# 문제) 익명함수를 프락시함수에 전달하여 a^b 계산(거듭제곱 계산)이 될 수 있는 익명함수 선언 및 사용하기

In [ ]:
def proxy2(f, a,b):  
    return f(a,b)

In [ ]:
 proxy2(lambda a,b:a ** b, 2,3)   # 8

In [ ]:
# 풀이
# => proxy2(f, a,b):  임의로 이름지은 메소드  proxy2()에 파라미터 3개를 주고
# f라는 곳에 lambda a,b:a ** b 이 값을 주어

# return f(a,b) 
# f를 메소드로 만들어 lambda a,b:a ** b가 f라는 메소드가 되게하고 
# proxy2(lambda a,b:a ** b, 2,3)
# f를 이용한 a,b의 값을 리턴하게 해줌   => 값이 8

In [ ]:
import random
random.randint(0,5)

In [ ]:
# 문제) 0~10 사이의 무작위 5개를 추출하여 리스트 리턴

In [ ]:
# 방법1  (셋은 중복 허용)
n = set()
while len(n) <5:
    i= random.randint(0,10)  #randint는 뒷자리수를 포함
    n.add(i)
print(n)

In [ ]:
# 방법2 (리스트는 중복 허용)
n = []
while len(n) < 6:
    i = random.randint(0, 10)
    n.append(i)
print(n)

In [ ]:
# 방법3   =>  seed()를 쓰면 횟수에 따라 값이 일정
random.seed(0)
nums = []
for _ in range(0,5):   # 5번만 추첨하므로 for 루프 사용
    nums.append(random.randint(0,10))
nums

In [ ]:
col = set()  # 몇 번의 추첨이 필요한지 정확히 알 수 없기 때문에 while 루프를 사용. (중복을 허용하므로)
# while 루프는 조건식을 만족하는 동안 반복, 이 경우에는 set의 크기가 10이 될 때까지 무작위 숫자를 추가
# 추첨 횟수를 정확히 알고 있느냐, 모르느냐에 따라서 for 또는 while 중 결정
while len(col) < 10:  # set의 크기가 10이 될 때까지 반복(0부터 인덱스가 시작하니 9까지만 받아야 10개)
    i = random.randint(0, 20)  # 0부터 10까지의 숫자 중 랜덤으로 하나를 선택
    col.add(i)  # 선택한 숫자를 set에 추가
print(col)

In [ ]:
random.seed(0)  # seed()를 따로 빼서 써도 위의 값과 동일

In [ ]:
nums = []
for _ in range(0,5):   # 중복 허용하지 않는다는 말도 없고 5번만 돌리니까 while 아닌 for루프 사용.... 변수명 안 쓸 때 언더바 사용
    nums.append(random.randint(0,10))
nums

### List Comprehension
- [v for v in iterable]

In [ ]:
msg = "Hello World"
msg[6]    # 'W'
msg[6] = 'w'
msg

In [ ]:
list1 = list(msg)
list1[6] = 'w'
# list1
msg = ''.join(list1)   # 리스트 원소들을 공백 없이 붙여서 문자열 생성
msg

### Magic Commands
- %writefile test.py : 셀에 입력된 코드를 *.py(모듈)에 저장
- %run test.py       : *.py 파일을 쥬피터 노트북 셀에서 실행
- %time [함수호출]   : 함수를 호출하여 실행 경과 시간을 측정
- %%time             : 아래에 나오는 모든 코드의 실행 시간 측정

In [ ]:
%time print('Hello World')

In [ ]:
%%time 
total = 0
for i in range(10000001):
    total += i

In [ ]:
%%writefile mymodule.py
a = 5 
b = 7
c = a+b
print(f'{a} + {b} = {c}')

In [ ]:
%run mymodule.py

In [ ]:
%%writefile mystat.py
def avg(score):
    total = 0
    for s in score:
        total += s
    return total / len(score)

def sum(score):
    total = 0
    for s in score:
        total += s
    return total

In [ ]:
# import 방법1
import mystat as ms
ms.sum([1,2,3,4,5])

In [ ]:
# import 방법2
import mystat as ms
print('총점:%s점'%(ms.sum([1,2,3,4,5])))
print('평균:{}'.format(ms.avg([1,2,3,4,5])))

[ v for v in range(5)]

In [ ]:
list1 = list('Hello World')
list1

In [ ]:
# for루프에서 산출된 값 필터링
[v for v in range(5) if v%2==0]

In [ ]:
# 리스트 아닌 딕셔너리 기호'{}'로 표현 방법 => set임
{v for v in range(5) if v%2==0}

In [ ]:
# set 리턴
{v for v in range(5)}

In [ ]:
# 딕셔너리 만들기
{str(v):v for v in range(5)}

### enumerator
- iterable 값에 첨자(index)를 추가하여 객체로 변환해준다
- index는 start 파라미터로 시작 값을 지정할 수 있다

In [ ]:
# enumerator
for v in enumerate(range(5)):   # v가 튜플로 반환됨
    print(v)

In [ ]:
# enumerator
for v in enumerate(range(5)):   # v가 튜플로 반환됨
    print(v[1])

In [ ]:
# enumerator
for (i,v) in enumerate(range(5)):   # 위와 동일값 출력됨
    print(v)

In [ ]:
# enumerator
for (i,v) in enumerate(range(5), start=5):   # index 지정 방법
    print(i, '-', v)

## 직렬화(Serialization)
- import pickle
- 직렬화 : pickle.dump(data, fout)
- 역직렬화 : pickle.load(fin)

In [ ]:
# list에 3개의 사원정보를 dict 형식으로 저장하고
# 파일에 직렬화한 후에
# 다시 역직렬화하여 그 목록을 화면에 표시해보세요

In [ ]:
# 내가 푼 것

import pickle

emp1 = {'num': 11, 'name': 'smith', 'deptno': 20, 'sal': 3300, 'hiredate':'2023-01-01'}
emp2 = {'num': 12, 'name': 'scott', 'deptno': 30, 'sal': 3300, 'hiredate':'2022-10-18'}
emp3 = {'num': 13, 'name': 'blake', 'deptno': 20, 'sal': 3000, 'hiredate':'2021-11-21'}

list1 = [emp1, emp2, emp3]

with open('D:/test/python_emp.ser', 'wb') as fout:
    pickle.dump(list1, fout)


with open('D:/test/python_emp.ser', 'rb') as fin:
    loaded_list = pickle.load(fin)

print(loaded_list)

In [ ]:
emp1 = {'num': 11, 'name': 'smith', 'deptno': 20, 'sal': 3300, 'hiredate': '2023-01-01'}
emp2 = {'num': 12, 'name': 'scott', 'deptno': 30, 'sal': 3300, 'hiredate': '2022-10-18'}
emp3 = {'num': 13, 'name': 'blake', 'deptno': 20, 'sal': 3000, 'hiredate': '2021-11-21'}

list1 = [emp1, emp2, emp3]

# 리스트의 각 딕셔너리를 '\n'으로 구분하여 하나의 문자열로 만듬
data_str = '\n'.join(str(emp) for emp in list1)

with open('D:/test/python_emp.txt', 'w') as fout:
    fout.write(data_str)

# 파일을 열어서 각 라인을 읽어 출력
with open('D:/test/python_emp.txt', 'r') as fin:
    for line in fin:
        print(line.strip())

In [ ]:
# 강사님 버전
# 메모리에 저장된 것을
# 전원을 오프해도 객체가 영구히 저장되게 하려면 디스크에 저장, 
# 오브젝트를 다른 피씨에 보내려면 파일에 저장해야 하므로 
# 직렬화 과정 필요
emps =[
         {"empno":11, "ename": "smith"},
         {"empno":12, "ename": "scott"},
         {"empno":13, "ename": "blake"},
       ]

import pickle    # pickle을 이용한 아웃풋 스트림
with open('D:/test/python_emps.pkl', 'wb') as fout:
    pickle.dump(emps, fout)
    print('리스트를 파일에 저장했음')

In [ ]:
import pickle  
with open('D:/test/python_emps.pkl', 'rb') as fin:
    list2 = pickle.load(fin)
    for d in list2:
        for (k,v) in d. items():
            print('{}\t'.format(v), end=" ")
        print()

In [ ]:
# 문제) 자동차 판매회사에서 차종별 정보 관리 시스템을 직렬화와 역직렬화 이용하여 CRUD 만들기 
# name, price, year, maker : 4가지 정보를 이용한 크루드 만들기 (fuel=> 전기차 등)
# 가격은 업데이트 가능해야 함

In [ ]:
# 내가 푼 것

In [1]:
cars = []

In [2]:
fname = 'd:/test/python_cars.pkl'

In [3]:
#import pickle

#try:
#    fin = open(fname, 'rb')
#    pickle.load(fin)    # 역직렬화
#    fin.close()
#except FileNotFoundError:
#    fout = open(fname, 'wb')
#    pickle.dump(cars, fout)   # 직렬화
#    fout.close()
#    print('파일 생성함')

In [4]:
import pickle

try:
    with open(fname, 'rb') as fin:
        cars = pickle.load(fin)    # 역직렬화
except FileNotFoundError:
    with open(fname, 'wb') as fout:
        cars = pickle.dump(cars, fout)   # 직렬화
        print('파일 생성함')

In [5]:
def overwrite(cars):
    with open(fname, 'wb') as fout:
         pickle.dump(cars, fout)
         print('파일에 저장 성공')
         return True

In [6]:
def load():
    global cars
    try:
        with open(fname, 'rb') as fin:
            cars = pickle.load(fin)
    except FileNotFoundError:
        print("파일 없음")

In [7]:
# name, price, year, maker 
def add_car():
    load()
    id = input('id: ')
    name = input('name: ')
    price = int(input('price: '))
    year = input('year: ')
    maker = input('maker: ')
    
    car_dic = {}
    car_dic['id'] = id
    car_dic['name'] = name
    car_dic['price'] = price
    car_dic['year']= year
    car_dic['maker']= maker
    cars.append(car_dic)
    overwrite(cars)

In [8]:
def car_list():
    load()
    for d in cars:
        line = '%s\t%s\t%s\t%s\t%s' %(d['id'], d['name'], d['price'], d['year'], d['maker'])
        print(line)

In [9]:
def find():
    name = input('car name: ')
    found = False
    for d in cars:
        if d['name'] == name:
            line = '%s\t%s\t%s\t%s\t%s' %(d['id'],d['name'], d['price'], d['year'], d['maker'])
            print(line)
            found = True
    if not found:
        print('검색 실패')

In [10]:
def update():
    id = input('변경 대상 id: ')
    price = input('새 가격: ')
    load()
    update = False
    idx = 0
    for d in cars:
        if d['id'] == id:
            d['price'] = price
            cars[idx] = d
            
            updated = overwrite(cars)
            print('수정 성공')
            break
        idx += 1
    if not updated:
        print('수정 실패')

In [11]:
def delete():
    id = input('삭제 대상 id: ')    # add할 때 문자열로 받았기 때문에 정수로[id = int(input('삭제 대상 id: '))]로 받으면 안 됨
    deleted = False
    for (i, d) in enumerate(cars, start=0):
        #print(f"[{d['id']}], [{id}]") => 디버깅용
        if d['id'] == id:  
            print('삭제 대상 발견')
            try:
                cars.remove(d)
                deleted = overwrite(cars)
                print('삭제 성공')
                break
            except:
                print('삭제 실패')
    else:
        if not deleted:
            print('삭제 실패')
    return deleted

In [12]:
go = True
while go:
    menu = input('목록(s) 추가(a) 검색(f) 수정(u) 삭제(d) 종료(x): ')
    if menu == 'a':
        add_car()
    elif menu == 's':
        car_list()
    elif menu == 'f':
        find()
    elif menu == 'u':
        update()
    elif menu == 'd':
        delete()
    elif menu == 'x':
        break
    else:
        print('메뉴 입력 오류')
    
print('프로그램 종료')

목록(s) 추가(a) 검색(f) 수정(u) 삭제(d) 종료(x): s
1	소나타	3000	2019	현대
3	그랜져	4000	2023	현대
4	k5	3100	2022	기아
목록(s) 추가(a) 검색(f) 수정(u) 삭제(d) 종료(x): x
프로그램 종료

## 클래스 사용하기

In [29]:
class Emp:
    
    def __init__(self, num, name):    # 생성된 인스턴스의 주소가 전달
        self.id = num                # 인스턴스에 변수 생성 및 초기화
        self.ename = name
        #print(id(self))

In [26]:
e = Emp(11, 'Scott')     # 인스턴스 생성 및 주소 리턴
print(e.id)             # 인스턴스가 생성된 위치에서 id 변수의 값 출력
print(e.ename)
print(id(e))

2295846155984
11
Scott
2295846155984

In [27]:
dir(e)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ename',
 'id']

In [28]:
e11 = Emp(11, 'Smith')
e12 = Emp(12, 'Ward')

e11==e12    # False

2295851826704
2295860061968

False

In [30]:
e11 is e12    # False

False

In [31]:
e12 = Emp(11, 'Smith')

In [33]:
e11 == e12    # False
e11 is e12    # False

False

### Operator Overload
- 동등 비교 연산자의 디폴트 기능을 개조하여 사번이 동일한 객체는 동일한 것으로 간주
- \__eq\__\() 오버로드

In [ ]:
# 연산자 오버로드(Op)

In [35]:
class Emp:
    
    def __init__(self, num, name):    
        self.id = num                
        self.ename = name
    def __eq__(self, other):
        return self.id==other.id

In [36]:
e11 = Emp(11, 'Smith')
e12 = Emp(11, 'Smith')

In [37]:
e11 == e12  # True     e11.__eq__(e12) 와 동일

True

In [40]:
e11.__eq__(e12)   # True

True

In [38]:
e11 is e12   # False

False

In [39]:
print(id(e11))    # 2295858737360
print(id(e12))    # 2295851826704

2295858737360
2295851826704

In [41]:
emps = [e11, e12]
e13 = Emp(13, 'James')
e13 in emps   # False # in을 멤버 연산자(# Member Operator라고 함)

False

In [42]:
e11 in emps   # True

True

In [ ]:
# 키보드에서 사원정보(번호, 이름, 부서)를 입력 받아서
# Emp 인스턴스를 생성하고, 리스트에 저장한다(3인 정보)
# 다시 키보드에서 검색 대상 사번을 입력 받아서 리스트에서 검색하여
# 검색된 사원정보를 화면에 표시해보세요.

In [44]:
class Emp:
    
    def __init__(self, num, name=None, deptno):    
        self.num = num              
        self.nam = name
        self.deptno = deptno
    def __eq__(self, other):
        return self.num==other.num

In [ ]:
emp = []

In [47]:
for _ in range(3):
empno = int(input('사번: '))
ename = input('사원명: ')
deptno = int(input('부서: '))
emps.append(Emp)

사원번호: 11
사원명: smith
부서: 20

In [1]:
# 강사님 버전

# 키보드에서 사원정보(번호, 이름, 부서)를 입력받아서
# Emp 인스턴스를 생성하고, 리스트에 저장한다(3인 정보)
# 다시 키보드에서 검색대상 사번을 입력 받아서 리스트에서 검색하여
# 검색된 사원정보를 화면에 표시해보세요.

class Emp:
    def __init__(self, num,name=None,deptno=0):
        self.num = num
        self.name = name
        self.deptno = deptno
    def __eq__(self, other):
        return self.num==other.num

emps = []    
    
for _ in range(3):
    empno = int(input('사번:'))
    ename = input('이름:')
    deptno = int(input('부서:'))
    emps.append(Emp(empno,ename,deptno))
    
# 검색
empno = int(input('검색대상 사번:'))
key = Emp(empno)
key in emps