In [2]:
list1=[1, 'a', True, 0.12 ,None]

In [3]:
type(list1) #list

list

In [4]:
list1 #SHIFT+TAB (도움말)

[1, 'a', True, 0.12, None]

In [5]:
dir(list1)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [6]:
list1.append('Hello')
list1

[1, 'a', True, 0.12, None, 'Hello']

In [7]:
list1.insert(0, 3.14)
list1

[3.14, 1, 'a', True, 0.12, None, 'Hello']

In [8]:
for elem in list1:
    print(elem)

3.14
1
a
True
0.12
None
Hello

In [10]:
list1.pop(9)
list1 # 리스트 인덱스 범위를 벗어난 내용이라 에러 남

IndexError: pop index out of range

In [11]:
list1.pop(6) # 인덱스 0부터 시작하니 6번째 자리가 지워지므로 이걸 실행하면 값이 Hello가 나옴
#이 상태에서 list1을 출력하면 'Hello'가 빠진 리스트가 출력됨

'Hello'

In [12]:
list1.pop() # pop는 기본적으로 맨 끝 값을 디폴트로 가진다고 #SHIFT+TAB (도움말)에 나와 있으므로 빈 칸으로 두면 맨 끝 값이 지워짐
# 현재는 None이 맨 끝 값임
list1  # None이 지워진 값이 출력됨

[3.14, 1, 'a', True, 0.12]

In [13]:
list1.pop()  # 현재 리스트의 맨 끝 값 출력

0.12

In [14]:
list1.remove(3.14)  # 값을 직접 넣어 삭제함
list1.remove(1) # 값을 직접 넣어 삭제함
list1  # 3.14와 1이 삭제된 채로 리스트가 출력됨

['a', True]

In [15]:
list1.reverse()  # 앞과 뒤(앞과 끝)의 순서를 역으로 바꿔줌
list1

[True, 'a']

In [16]:
list1=[3,2,7,1,5,4]
list1

[3, 2, 7, 1, 5, 4]

In [17]:
list1.sort()  # 정렬
list1

[1, 2, 3, 4, 5, 7]

In [18]:
list1.index(5)

4

In [19]:
list2=[8,9,10]
list1.extend(list2)
list1

[1, 2, 3, 4, 5, 7, 8, 9, 10]

In [20]:
list1.extend([3,6,3,8,7])
list1

[1, 2, 3, 4, 5, 7, 8, 9, 10, 3, 6, 3, 8, 7]

In [21]:
list1.count(7)

2

In [22]:
list2 = list1.copy()
(list1, list2)

([1, 2, 3, 4, 5, 7, 8, 9, 10, 3, 6, 3, 8, 7],
 [1, 2, 3, 4, 5, 7, 8, 9, 10, 3, 6, 3, 8, 7])

In [23]:
list2.pop()

7

In [24]:
(list1, list2)  #list2가 list1을 copy하였으나 list2.pop()를 했을 때 list2만 변경되는 것을 알 수 있음 (딥 카피-독립적-가 됨)

([1, 2, 3, 4, 5, 7, 8, 9, 10, 3, 6, 3, 8, 7],
 [1, 2, 3, 4, 5, 7, 8, 9, 10, 3, 6, 3, 8])

In [25]:
list1

[1, 2, 3, 4, 5, 7, 8, 9, 10, 3, 6, 3, 8, 7]

In [26]:
list2

[1, 2, 3, 4, 5, 7, 8, 9, 10, 3, 6, 3, 8]

In [27]:
list1.clear()
list1   # clear는 통으로 지움

[]

In [28]:
list2 #list2가 list1을 copy하였어도 독립된 값을 유지(파이썬에서는 독립적인 값 유지 카피를 딥 카피라고 함)

[1, 2, 3, 4, 5, 7, 8, 9, 10, 3, 6, 3, 8]

In [29]:
val=(3)
type(val)  # 리턴 값을 알아야 반복문 등을 쓸 수 있어서 파이썬이 지정한 리턴값 알고 싶을 때 type을 씀

int

In [30]:
val=(3+4)*2
type(val)

int

In [31]:
val=(3,)
type(val)  # 단일 값이 있는 소괄호는 기본적으로도 쓰이기 때문에 튜플로 인정되지 않으나 소괄호가 있고 값에 쉽표가 들어가면 튜플로 봄

tuple

In [32]:
type([])

list

In [33]:
type({})

dict

In [34]:
mems = [
    {"name":"Smith", "sal":3000},
    {"name":"James", "sal":4000}
]
mems

[{'name': 'Smith', 'sal': 3000}, {'name': 'James', 'sal': 4000}]

In [35]:
mems[0]

{'name': 'Smith', 'sal': 3000}

In [36]:
mems2 = [
   {"name":"blake", "sal":4000}
]
mems+mems2

[{'name': 'Smith', 'sal': 3000},
 {'name': 'James', 'sal': 4000},
 {'name': 'blake', 'sal': 4000}]

In [37]:
mems.append({"name":"Kale", "sal":4000})
mems

[{'name': 'Smith', 'sal': 3000},
 {'name': 'James', 'sal': 4000},
 {'name': 'Kale', 'sal': 4000}]

In [38]:
for mem in mems:
    print(mem['name'], '\t', mem['sal'])

Smith 	 3000
James 	 4000
Kale 	 4000

In [39]:
# 참조 복사
list1 = [1,2,3]
list2 = list1

In [40]:
list2.append(4)
list1

[1, 2, 3, 4]

In [41]:
# Shallow copy
list1 = [1, 2, []]
list2 = list1.copy()

In [42]:
list2[-1].append(3)
list1

[1, 2, [3]]

In [43]:
# Deep copy
import copy   # 기본적으로 파이썬에서 copy 파일 제공하고 있으므로 import copy 가능

In [44]:
list3 = [1, 2, []]
list4 = copy.deepcopy(list3)

In [45]:
list4[-1].append(3)
list3

[1, 2, []]

In [46]:
# 딕셔너리
type({})

dict

In [47]:
emp = {"empno":11, "ename":"James", "married":True}
emp

{'empno': 11, 'ename': 'James', 'married': True}

In [48]:
emp['deptno']=20
emp   # 'deptno': 20 이라는 값 추가

{'empno': 11, 'ename': 'James', 'married': True, 'deptno': 20}

In [49]:
emp['married']=False
emp  # 'married': True를 'married': 'False'로 수정

{'empno': 11, 'ename': 'James', 'married': False, 'deptno': 20}

In [50]:
emp.pop('married') # married': False 삭제
emp

{'empno': 11, 'ename': 'James', 'deptno': 20}

In [51]:
dir(emp)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [52]:
for v in emp:
    print(type(v))

<class 'str'>
<class 'str'>
<class 'str'>

In [53]:
for v in emp:
    print(v)

empno
ename
deptno

In [54]:
for key in emp:
    print(emp[key])

11
James
20

In [55]:
type(emp.items())

dict_items

In [56]:
for v in emp.items():
    print(type(v))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [57]:
for v in emp.items():
    print(len(v))

2
2
2

In [58]:
for (k,v) in emp.items():
    print(k,'\t',v)

empno 	 11
ename 	 James
deptno 	 20

In [59]:
for (k,v) in emp.items():
    print(k,v)

empno 11
ename James
deptno 20

In [60]:
emp['ename'], emp.get('ename')  # 둘 다 결과는 동일하나 삭제한 값일 경우에는 결과가 다름

('James', 'James')

In [61]:
emp['married']  # 지웠으므로 키 에러 나옴(지운 게 확실할 때 이거 씀)

KeyError: 'married'

In [62]:
emp.get('marrid') # 값이 없어서 나오는 출력 값은 없으나 에러 안 남(지운 게 불확실할 때 이거 씀)

In [63]:
emp.update({'married': False})
emp

{'empno': 11, 'ename': 'James', 'deptno': 20, 'married': False}

In [64]:
'ename' in emp

True

In [65]:
if 'ename' in emp:
    print(emp['ename'])

James

In [66]:
list1=[1,2,3]

In [67]:
list1*2  # list를 곱한 수만큼 반복

[1, 2, 3, 1, 2, 3]

In [68]:
list1 # 곱하기 했어도 list1에는 변화 없음

[1, 2, 3]

In [69]:
list2 = list1*2
list2

[1, 2, 3, 1, 2, 3]

In [70]:
list1+3   # 파이썬에선 오류나나 실제 빅테이터에서는 정상 계산 가능함

TypeError: can only concatenate list (not "int") to list

In [71]:
list2=list1 + [4,5,6]
list2

[1, 2, 3, 4, 5, 6]

In [72]:
2*2

4

In [73]:
2**3  # ** 이렇게 별표 2개 하면 지수 표수

8

In [74]:
5/2 # 이렇게 나눗셈할 때 자바는 정수끼리 나눗셈이라 몫만 출력하나 파이썬은 값 그대로 출력

2.5

In [75]:
5//2 # 나눗셈의 몫만 출력 원할 때 슬러시 2개

2

In [76]:
list1.pop()
list1

[1, 2]

In [77]:
list1.remove(list1[-1])  # list1[-1]은 리스트에서 맨 뒤의 원소(역으로 세니까 -1)를 가리킴
list1

[1]

In [78]:
list1 = [1,2,3,4,5,6,7,8]
list1

[1, 2, 3, 4, 5, 6, 7, 8]

In [79]:
list1[0:4] #Slicing => 0의 인덱스 자리부터 4 이전의 인덱스자리까지 출력됨

[1, 2, 3, 4]

In [80]:
list2 = list1[0:4]
list2

[1, 2, 3, 4]

In [81]:
list2[0] = 100
list1  # list1[0:4]의 값을 list2에 넣고 list2[0] 자리(list2의 인덱스 0번째 자리)에 100을 넣어도 list1의 값은 안 바뀜

[1, 2, 3, 4, 5, 6, 7, 8]

In [82]:
list1[:2] #시작 부분이 생략, 0으로 간주됨

[1, 2]

In [83]:
list1[0:] # 끝 부분이 생략, 주어진 값에서 끝까지로 간주됨

[1, 2, 3, 4, 5, 6, 7, 8]

In [84]:
list2 = list1[:]  # 둘 다 비면 시작은 0, 끝은 주어진 값 끝까지를 의미
list2

[1, 2, 3, 4, 5, 6, 7, 8]

In [85]:
list2[0] = 100
(list2, list1)

([100, 2, 3, 4, 5, 6, 7, 8], [1, 2, 3, 4, 5, 6, 7, 8])

In [86]:
list1[0:5:2]  # 인덱스 0번째부터 5번째까지 가져오되 2자리씩 건너서 인덱스를 세서 가져오라는 의미

[1, 3, 5]

In [87]:
list1[0:5:]

[1, 2, 3, 4, 5]

In [88]:
list1[0:5:1]  # 두 값이 동일(디폴트 값이 1과 마찬가지)

[1, 2, 3, 4, 5]

In [89]:
list1[0:-1:2] # 인덱스 0번째부터 마지막 인덱스 전의 자리까지 가져오되 2자리씩 건너서 가져오라는 의미

[1, 3, 5, 7]

In [90]:
list1[0::2]# 인덱스 0번째부터 마지막 인덱스 자리까지 가져오되 2자리씩 건너서 가져오라는 의미

[1, 3, 5, 7]

In [91]:
str1 = 'HelloWorld'
str1[0]  # 문자도 인덱스로 출력 가능

'H'

In [92]:
str1[0:5] # 인덱스 0번째부터 인덱스 5번째의 앞자리(4번째 자리)까지 가져오라는 의미

'Hello'

In [93]:
len(str1)

10

In [94]:
type(str1)

str

In [95]:
a = '123'
int(a)+2 # 문자를 숫자로 형변환하여 계산

125

In [96]:
'Hello ' + 100  # 자바와 달리 문자+숫자가 문자로 되지 않고 숫지는 int로 보기 때문에 에러남

TypeError: can only concatenate str (not "int") to str

In [97]:
'Hello ' + str(100) # 이용자에게 입력 요청시 리터럴을 쓸 수 없으니 str()을 써서 형변환해 계산 진행 가능

'Hello 100'

In [98]:
'Hello ' + '100' # 직접 개발자가 조작 가능할 때 문자열 + 숫자 병합은 이 방법도 쓸 수 있음

'Hello 100'

In [99]:
s = "문자열을 다루는 \"메소드\"들을 공부합니다"  # s = "문자열을 다루는 '메소드'들을 공부합니다" //오후 수업
s.count('다루는')  # 해당 문자열이 들어간 수 만큼 카운팅한 숫자가 출력됨
s.lower()
s.upper()
s.lstrip()
s.rstrip()
s.strip()
s.replace('다루는', '대상으로 하는')
s.split('　')
s.find('을') #3
s.rfind('을') #13
print(s.count('다루는'))

1

In [100]:
list1 = [1,2,3,4,5]

In [101]:
del list1[2]
list1

[1, 2, 4, 5]

In [102]:
dict1 = {"a":10, "b":20}
del dict1['b']
dict1

{'a': 10}

In [103]:
del dict1  # 삭제는 되나 del은 리턴을 하지 않아서 출력값을 안 보여줌

In [104]:
dict1 # 데이터 삭제 돼 오류남

NameError: name 'dict1' is not defined

In [105]:
#전역 변수(Global), 지역 변수(Local) 개념
def increaseNum():
    num = 0
    num += 1
    print('num=', num)

In [106]:
increaseNum()  #  num += 1이 있어도 계속 컨트럴+엔터로 실행해도  num += 1 조건이 있어도 num = 0 으로 초기화 되어 1만 나옴

num= 1

In [107]:
num = 0   # 전역 변수 선언

In [108]:
#전역 변수(Global), 지역 변수(Local)  # num += 1의 num을 지역변수로 보고 오류남
def increaseNum():
    num += 1
    print('num=', num)

In [109]:
increaseNum()

UnboundLocalError: cannot access local variable 'num' where it is not associated with a value

In [110]:
num = 0  # 전역 변수 선언

In [111]:
#전역 변수(Global), 지역 변수(Local)
def increaseNum():
    global num   # global num 을 써서 오류 안 남
    num += 1
    print('num=', num)

In [116]:
increaseNum() # 컨트럴+엔터로 실행하면  num += 1 에 의해 지속 값 증가

num= 5

In [117]:
def test(a,b,c,d,e):
    return a+b+c+d+e

In [118]:
test(1,2,3,4,5)

15

In [119]:
test(1,2)  # ,c,d,e 값 없어서 오류남

TypeError: test() missing 3 required positional arguments: 'c', 'd', and 'e'

In [120]:
def test(a,b,c=0,d=0,e=0):
    return a+b+c+d+e

In [121]:
test(1,2)

3

In [122]:
test(2,3,4,5,6)

20

In [123]:
def test(*arg):   
    print(type(arg))  # 뭐더라? 녹화 듣기

In [124]:
test(1,2,3,4,5,4,3,2,1)

<class 'tuple'>

In [125]:
def test(*arg):
    print(arg)

In [126]:
def test(**kargs):    # ** => 딕셔너리로 바꿔줌
    print(kargs)

In [127]:
test(name="Smith", empno=7369, hiredate="2012-12-05")

{'name': 'Smith', 'empno': 7369, 'hiredate': '2012-12-05'}

# 문제) 키보드 입력을 이용하여 list, dictronary 자료 구조에 저장/수정/삭제/검색

- 사번, 이름, 부서, 급여, 입사일
- 프로그램이 시작되면 메뉴 표시
- 무한히 실행되는 기능 구현
- 이용자가 x 입력시 종료
- 키보드에서 5개의 정보를 입력하여 파이썬 자료구조에 저장하기
- 추가(a), 목록(s), 검색(f), 수정(u), 삭제(d), 종료(x)

In [ ]:
# 내가 푼 답:

In [128]:
menu = ['추가(a)', '목록(s)', '검색(f)', '수정(u)', '삭제(d)', '종료(x)']
print(menu)

employees = []
while True:
   
    choice = input("메뉴를 선택하세요: ")

    if choice == 'a':
        empno = input("사번: ")
        ename = input("이름: ")
        deptno = input("부서: ")
        sal = input("급여: ")
        hiredate = input("입사일: ")

        emp = {'empno': empno, 'ename': ename, 'deptno': deptno, 'sal': sal, 'hiredate': hiredate}
        employees.append(emp)  # 리스트에 사원 정보 딕셔너리 추가
        print(employees)
    elif choice == 's':
        print(employees)
    elif choice == 'f':
        ename = input("검색할 사원명을 입력하세요: ")
        def findbyename(employees, ename):
            for emp in employees:
                if emp['ename'] == ename:
                    print(emp)
        findbyename(employees, ename)
    elif choice == 'u':
        ename = input("수정할 사원명을 입력하세요: ")
        deptno = input("수정할 부서번호를 입력하세요: ")
        found = False
        for emp in employees:
            if emp['ename'] == ename:
                emp['deptno'] = deptno
                found = True
                break

        if found:
            print(f"{ename}님의 정보가 수정되었습니다.")
        else:
            print(f"{ename}님의 정보를 찾을 수 없습니다.")

        print(employees)

    elif choice == 'd':
        ename = input("삭제할 사원명을 입력하세요: ")
        found = False
        for emp in employees:
            if emp['ename'] == ename:
                employees.remove(emp)
                found = True
                break

        if found:
            print(f"{ename}님의 정보가 삭제되었습니다.")
        else:
            print(f"{ename}님의 정보를 찾을 수 없습니다.")

        print(employees)

    elif choice == 'x':
        print("종료되었습니다")
        break
    else:
        print("잘못된 메뉴 선택입니다.")

['추가(a)', '목록(s)', '검색(f)', '수정(u)', '삭제(d)', '종료(x)']
메뉴를 선택하세요: a
사번: 11
이름: smith
부서: 20
급여: 3000
입사일: 2020-0101
[{'empno': '11', 'ename': 'smith', 'deptno': '20', 'sal': '3000', 'hiredate': '2020-0101'}]
메뉴를 선택하세요: scott
잘못된 메뉴 선택입니다.
메뉴를 선택하세요: a
사번: 12
이름: scott
부서: 30
급여: 2800
입사일: 2020-10-10
[{'empno': '11', 'ename': 'smith', 'deptno': '20', 'sal': '3000', 'hiredate': '2020-0101'}, {'empno': '12', 'ename': 'scott', 'deptno': '30', 'sal': '2800', 'hiredate': '2020-10-10'}]
메뉴를 선택하세요: f
검색할 사원명을 입력하세요: scott
{'empno': '12', 'ename': 'scott', 'deptno': '30', 'sal': '2800', 'hiredate': '2020-10-10'}
메뉴를 선택하세요: u
수정할 사원명을 입력하세요: smith
수정할 부서번호를 입력하세요: 20
smith님의 정보가 수정되었습니다.
[{'empno': '11', 'ename': 'smith', 'deptno': '20', 'sal': '3000', 'hiredate': '2020-0101'}, {'empno': '12', 'ename': 'scott', 'deptno': '30', 'sal': '2800', 'hiredate': '2020-10-10'}]
메뉴를 선택하세요: u
수정할 사원명을 입력하세요: scott
수정할 부서번호를 입력하세요: 30
scott님의 정보가 수정되었습니다.
[{'empno': '11', 'ename': 'smith', 'deptno': '20', 'sal': '3000', 'hiredate': '2020-0101'}, {'empno': '12', 'ename': 'scott', 'deptno': '30', 'sal': '2800', 'hiredate': '2020-10-10'}]
메뉴를 선택하세요: u
수정할 사원명을 입력하세요: scott
수정할 부서번호를 입력하세요: 40
scott님의 정보가 수정되었습니다.
[{'empno': '11', 'ename': 'smith', 'deptno': '20', 'sal': '3000', 'hiredate': '2020-0101'}, {'empno': '12', 'ename': 'scott', 'deptno': '40', 'sal': '2800', 'hiredate': '2020-10-10'}]
메뉴를 선택하세요: d
삭제할 사원명을 입력하세요: smith
smith님의 정보가 삭제되었습니다.
[{'empno': '12', 'ename': 'scott', 'deptno': '40', 'sal': '2800', 'hiredate': '2020-10-10'}]
메뉴를 선택하세요: s
[{'empno': '12', 'ename': 'scott', 'deptno': '40', 'sal': '2800', 'hiredate': '2020-10-10'}]
메뉴를 선택하세요: x
종료되었습니다

In [ ]:
# 강사님 답:

#### 키보드 입력을 이용하여 list, dictionary 자료구조에 저장/수정/삭제/검색
- 사번, 이름, 부서, 급여, 입사일
- 프로그램이 시작되면 메뉴 표시
- 무한히 실행되는 기능구현
- 이용자가 x 입력시 종료
- 키보드에서 5개의 정보를 입력하여 파이썬 자료구조에 저장하기
- 추가(a), 목록(s), 검색(f), 수정(u), 삭제(d), 종료(x)

In [129]:
emps = []

In [130]:
def add():
    global emps
    empno = int(input('사번:'))
    ename = input('이름:')
    deptno = int(input('부서:'))
    sal = int(input('급여:'))
    hiredate = input('입사일:')
    emp = {"empno":empno, "ename":ename,"deptno":deptno, "sal":sal, "hiredate":hiredate}
    emps.append(emp)
    print('사원정보 저장 성공')

In [132]:
def empList():
    global emps
    for emp in emps:
        for (k,v) in emp.items():
            print(v,'\t',end=" ")
        print()

In [133]:
def find_index(empno):
    found = False
    for emp in emps:
        if emp['empno']==empno:
            found = True
            return emps.index(emp)
    if not found:
        return -1

In [134]:
def find():
    global emps
    empno = int(input('검색할 사번:'))
    idx = find_index(empno)
    if idx==-1:
        print('검색 실패')
    else:
        for (k,v) in emps[idx].items():
            print(v, '\t', end=" ")

In [135]:
def update():
    empno = int(input('변경대상 사번:'))
    newSal = int(input('새 급여:'))
    idx = find_index(empno)
    if idx==-1:
        print('변경 실패')
    else:
        emps[idx]['sal'] = newSal
        print('변경 성공')

In [136]:
def delete():
    empno = int(input('삭제대상 사번:'))
    idx = find_index(empno)
    if idx==-1:
        print('삭제 실패')
    else:
        del emps[idx]
        print('삭제 성공')

In [137]:
go=True
while go:
    menu = input('추가(a), 목록(s), 검색(f), 수정(u), 삭제(d), 종료(x):')
    if menu=='a':
        add()
    elif menu=="s":
        empList()
    elif menu=="f":
        find()
    elif menu=="u":
        update()
    elif menu=="d":
        delete()
    elif menu=='x':
        go = False
    else:
        print('메뉴입력 오류')
print('프로그램 종료')

추가(a), 목록(s), 검색(f), 수정(u), 삭제(d), 종료(x):a
사번:11
이름:smith
부서:30
급여:3000
입사일:2010-10-01
사원정보 저장 성공
추가(a), 목록(s), 검색(f), 수정(u), 삭제(d), 종료(x):x
프로그램 종료